[Filter]
# If a port is given, only traffic to that port is redirected,
# any traffic with another destination port is dropped.
# Filtering multiple ports is possible through repeated definition
# of a IP with different ports.

ip: 10.10.10.99
  10.10.10.100

targetip: 10.10.10.11

[Mode]
# 0: IP/TCP, 1: Layer 7
mode: 0

[Log]
# verbostity: 0-10 
verbosity: 0
# Path where logfile will be created
path: /home/jotaro/uni/BA/scripts/l34.log