[Filter]
# If a port is given, only traffic to that port is redirected,
# any traffic with another destination port is dropped.
# Filtering multiple ports is possible through repeated definition
# of a IP with different ports.

ip: 98.137.201.117:80

targetip: 132.230.3.220
# Only active, if ports are specified above.
targetport: 8080
[Mode]
# 0: IP/TCP, 1: Layer 7
mode: 0

[Log]
# verbostity: 0-10 
verbosity: 10
# Path where logfile will be created
path: /home/jotaro/work/eaas/wire/wire/proxyl34.log