[Mode]
# 0: IP/TCP, 1: Layer 7
mode: 1

[Filter]
# Only one IP allowed in this mode!
ip: 
 132.230.3.220:8080


[Socket]
path: /home/jotaro/uni/BA/scripts/socket.sock

[Log]
# 0: no logging, 1: packet types and information, 2: more information
# 10: all packets get printed completely
verbosity: 0
path: /home/jotaro/work/eaas/wire/wire/ProxySpiegel.log